<!-- menu.component.html -->
<div class="menu-container">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-button">&#9776;</label>
    <div class="menu">
      <a [routerLink]="['']">Home</a>
      <a [routerLink]="['sobre']">Sobre Mim</a>
      <a [routerLink]="['skills']">Skills</a>
      <a [routerLink]="['projetos']">Projetos</a>
      <a [routerLink]="['contato']">Contato</a>

    </div>
    <!-- Conteúdo principal do seu aplicativo vai aqui -->
  </div>
  