.container_sobre{
        margin: 0 45px;
        display: flex;
        flex-direction: column;
        gap: 30px;

}

section{
        background: #252525;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
}

.container_cabecalho{
       display: flex;
       flex-direction: column;

        h1{
                font-size: 35px;
                margin: 0;
                padding: 5px 0 15px 0;
        }


}

.border{
        height: 7px;
        width: 90px;
        background-color: blue;
}