.container_skills{
    margin: 0 45px;
    display: flex;
    flex-direction: column;

}

section{
    background: #252525;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container_cabecalho{
   display: flex;
   flex-direction: column;

    h1{
            font-size: 35px;
            margin: 0;
            padding: 5px 0 15px 0;
    }


}

.border{
    height: 7px;
    width: 90px;
    background-color: blue;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 1080px){
    .cards{
        flex-direction: row;
    }
}