<div class="container_skills">
    <section>
        <div class="container_cabecalho">
            <h1>Minhas Habilidades</h1>
            <div class="border"></div>
        </div>

        <h2>Hard Skills</h2>
        <div class="container_cards">
            <div class="cards">
                <card-skills
                photo="../../../assets/img/html-logo.svg"
                descricao="HTM5"></card-skills>
                <card-skills
                photo="../../../assets/img/css-logo.svg"
                descricao="CSS3"></card-skills>
                <card-skills
                photo="../../../assets/img/javascript-logo.svg"
                descricao="Java Script"
                ></card-skills>
                <card-skills
                photo="../../../assets/img/angular-logo.svg"
                descricao="Angular"
                ></card-skills>
                <card-skills
                photo="../../../assets/img/typescript-logo.svg"
                descricao="TypeScript"
                ></card-skills>
            </div>
            <div class="cards">
                <card-skills
                photo="../../../assets/img/node-logo.svg"
                descricao="Node.Js"></card-skills>
                <card-skills
                photo="../../../assets/img/python-logo.svg"
                descricao="Python"
                ></card-skills>
                <card-skills
                photo="../../../assets/img/java-logo.svg"
                descricao="Java"
                ></card-skills>
                <card-skills
                photo="../../../assets/img/banco-logo.svg"
                descricao="Banco de Dados"
                ></card-skills>
            </div>
        </div>

        <h2>Soft Skills</h2>
        <div class="container_soft">
            <card-soft
            titulo="Trabalho em Equipe"
            photo="../../../assets/img/team-work.jpeg"
            descricao="Sou um colaborador dedicado e valorizo o trabalho em equipe. Minhas habilidades incluem comunicação eficaz, flexibilidade para adaptar-me a diferentes estilos de trabalho e uma abordagem proativa na resolução de desafios coletivos. Acredito que a diversidade de ideias enriquece o processo colaborativo, e estou comprometido em contribuir para um ambiente de equipe positivo e produtivo."
            ></card-soft>
            
            <card-soft
            titulo="Escuta Ativa"
            photo="../../../assets/img/escuta.jpeg"
            descricao="Destaco minha capacidade de escuta ativa como um diferencial no trabalho em equipe. Com atenção genuína às ideias e preocupações dos colegas, busco compreender profundamente as perspectivas apresentadas. Essa habilidade não apenas fortalece a coesão da equipe, mas também facilita a resolução eficaz de desafios, promovendo um ambiente colaborativo e produtivo."
            ></card-soft>
            
            <card-soft
            titulo="Resolução de Problemas"
            photo="../../../assets/img/resolucao.jpeg"
            descricao="Minha abordagem proativa e analítica na resolução de problemas destaca-se no ambiente de equipe. Encaro desafios como oportunidades de aprendizado e crescimento, buscando soluções inovadoras e eficientes. Trabalho colaborativamente, incorporando diferentes perspectivas para encontrar as melhores respostas."
            ></card-soft>
            
            <card-soft
            titulo="Aprendizado Continuo"
            photo="../../../assets/img/aprendizado.png"
            descricao="Minha adaptabilidade e compromisso com o aprendizado contínuo são ativos fundamentais no trabalho em equipe. Encaro mudanças como oportunidades de crescimento, ajustando-me rapidamente a novos cenários. Estou sempre em busca de novos conhecimentos, incorporando aprendizados para contribuir de maneira eficaz para a equipe."
            ></card-soft>
        </div>
    </section>
</div>

