<header>
    <div class="header_container">
        <div class="logo">
            <h1>Matheus Rodrigues Lima</h1>
        </div>
        <div class="icons">
        </div>
        <div class="links">
            <hamburger></hamburger>
            <ul>
                <a href="#">Home</a> 
                <a href="#">Sobre Mim</a>
                <a href="#">Skills</a>
                <a href="#">Projetos</a>
                <a href="#">Contato</a>
            </ul>
        </div>
    </div>
</header>