@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 5px 30px;
    margin: 0 45px;
    
    background: #252525;
    margin-top: 25px;


    h1{
        font-family: 'Dancing Script', cursive;
    }
    
    .links {
    
        a{
            text-decoration: none;
            color: #ffffff;
        }

        a:hover{
            color: orange;
        }
    
        ul{
        display: none;
        gap: 40px;
        font-size: 18px;
        font-weight: 500;
    }
}

.actvated{
    color: orange;
}


}

@media(min-width: 1080px){
    .header_container{
        .icons{
            display: flex;
            gap: 15px;
            margin: 0;
            padding: 0;
            
            svg{
                width: 50px;
            }
        }

        .links{
            ul{
                display: flex;
            }
            hamburger{
                display: none;
            }
        }
    }
}