<header>
    <div class="header_container">
        <div class="logo">
            <h1>Matheus Rodrigues Lima</h1>
        </div>
        <div class="icons">
        </div>
        <div class="links">
            <hamburger></hamburger>
            <ul>
                <a [routerLink]="['']">Home</a> 
                <a [routerLink]="['sobre']">Sobre Mim</a>
                <a [routerLink]="['skills']">Skills</a>
                <a [routerLink]="['projetos']">Projetos</a>
                <a [routerLink]="['contato']">Contato</a>
            </ul>
        </div>
    </div>
</header>