<header>
    <div class="header_container">
        <div class="logo">
            <h1>Matheus Rodrigues Lima</h1>
        </div>
        <div class="icons">
        </div>
        <div class="links">
            <hamburger></hamburger>
            <ul type="none">
                <li><a [routerLink]="['']" [routerLinkActive]="['actvated']">Home</a> </li>
                <li><a [routerLink]="['sobre']" [routerLinkActive]="['actvated']">Sobre Mim</a></li>
                <li><a [routerLink]="['skills']" [routerLinkActive]="['actvated']">Skills</a></li>
                <li><a [routerLink]="['projetos']" [routerLinkActive]="['actvated']">Projetos</a></li>
                <li><a [routerLink]="['contato']" [routerLinkActive]="['actvated']">Contato</a></li>
            </ul>
        </div>
    </div>
</header>