.container_card{
    width: 550px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;


    img{
        width: 150px;
        height: 125px;
    }

    p{
        font-size: 13px;
        text-align: justify;
    }
}

h3{
    border-left: 4px solid blue;
    padding-left: 15px;
}