*{
    box-sizing: border-box;
}

figure{
    width: 150px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        
        img{
            width: 100%;
        }
    }

    .descricao{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
